{
  "extends": "stylelint-config-htmlacademy",

  "rules": {
    "declaration-no-important": true,
    "no-invalid-position-at-import-rule": null,
    "indentation": [2, {"ignore": ["inside-parens"]}]
  }
}
