.about-us {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 127px 0 129px 0;
  max-width: 1166px;
  align-items: center;

  @media (max-width: $tablet-width) {
    padding: 51px 15px 47px 15px;
  }

  @media (max-width: $mobile-width) {
    padding: 51px 15px 62px 15px;
  }
}

.about-us h2 {
  margin-bottom: 50px;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.005em;

  @media (max-width: $tablet-width) {
    margin-bottom: 31px;
    font-size: 24px;
    line-height: 41px;
  }
}

.about-us ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 38px;
  list-style: none;
  margin: 0;
  padding: 0;

  @media (max-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 30px;
    row-gap: 20px;
  }

  @media (max-width: $mobile-width) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 28px;
  }
}

.about-us li {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  letter-spacing: -0.5px;

  @media (max-width: $tablet-width) {
    width: 263px;
  }

  @media (max-width: $mobile-width) {
    height: 125px;
    font-size: 18px;

    &:first-child {
      margin-top: 7px;
    }
  }
}

.about-us span {
  font-weight: bold;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
  letter-spacing: -1.27px;
  color: $accent;
}

.about-us p {
  margin-top: 15px;

  @media (max-width: $mobile-width) {
    margin-top: 7px;
  }
}
