.form {
  width: 327px;

  @media (max-width: $tablet-width) {
    padding-top: 145px;
    margin: 0 auto;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    padding: 135px 16px 0;
  }
}

.form h3 {
  margin: 5px 0 20px;
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.005em;
  color: $white;

  @media (max-width: $tablet-width) {
    margin: 5px 0 31px;
    font-size: 18px;
    color: $black;
  }

  @media (max-width: $mobile-width) {
    margin: 5px 0 21px;
    font-size: 18px;
    color: $black;
  }
}

.form input {
  width: 100%;
  margin: 0 0 20px;
  padding: 13px 30px 8px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: $black--lighter;
  border: 1px solid $gray--darker;
  border-radius: 4px;

  &:hover,
  &:focus {
    border-color: $accent;
  }

  @media (max-width: $mobile-width) {
    padding: 13px 26px 8px;
  }
}

.form button {
  width: 100%;
  margin: 0;
  padding: 19px 0 15px;
  text-align: center;
  border: 0;
  border-radius: 6px;
  background-color: $accent;
  cursor: pointer;
  transition-timing-function: ease-out;
  transition-duration: 0.3s;

  &:hover,
  &:active {
    background-color: $button-active-color;
    transform: translateY(3px);
  }

  @media (max-width: $mobile-width) {
    padding: 18px 0 15px;
  }
}
