.main-nav {
  position: relative;
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
  z-index: 5;
  width: 978px;

  &::after {
    position: absolute;
    content: "";
    left: 50px;
    width: 880px;
    height: 1px;
    background-color: transparentize($white, 0.3);
  }

  @media (max-width: $tablet-width) {
    width: 100%;
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
  }
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 10px;
  padding: 0;
  list-style: none;

  @media (max-width: $tablet-width) {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    justify-content: flex-start;
    flex-wrap: nowrap;
    height: 100vh;
    overflow-y: scroll;
    background-color: $white;
    flex-direction: column;
    padding-top: 100px;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    width: 100%;
  }
}

.main-nav__item {
  margin: 0 68px;

  @media (max-width: $tablet-width) {
    padding: 16px 17px;
    margin: 0 0 30px 0;
    background-color: $gray--light;
  }
}

.main-nav__link {
  text-decoration: none;
  color: transparentize($white, 0.3);

  @media (max-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $gray--dark;
  }

  &:hover {
    color: $accent;
  }
}

.main-nav__img {
  display: none;

  @media (max-width: $tablet-width) {
    display: block;
  }
}
