.page-footer {
  flex: 0 0 auto;
  padding-top: 49px;
  padding-bottom: 84px;

  @media (max-width: $tablet-width) {
    padding-top: 16px;
    padding-bottom: 22px;
  }

  @media (max-width: $mobile-width) {
    padding-bottom: 35px;
  }
}
