//Colors
$white: #fff;
$black: #000;
$black--lighter: #1c1c1c;
$black--darker: #1f1f1f;
$black--dark: #141517;
$video-bg-color: #131314;
$accent: #0ad9c6;
$gray--light: #f6f6f6;
$types-bg-color: #f6f7f9;
$gray--darker: #c9ccd4;
$gray--dark: #48494d;

//Fonts
$font-default: "Open Sans", "Arial", sans-serif;


//Viewports
$mobile-width: 767px;
$tablet-width: 1023px;
$desktop-width: 1024px;
